@model final.ViewModels.GuestbooksViewModel

@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<title>聯絡我們</title>
<div class="container">
    @* 載入新增留言頁面*@
    <div id="CreateData">
        @Html.Action("Create")
    </div>
    <h2>留言板</h2>
    @* 建立搜尋所須的表單*@
    @using (Html.BeginForm("Index", "Guestbooks", FormMethod.Get))
    {
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Search)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Search)
        </td>
        <td>
            <input type="submit" value=" 搜尋" />
        </td>
    </tr>
</table>
}


    <table>
        @* 如果資料庫中不是零筆記錄，則顯示資料，並列出新增、刪除與修改連結*@
        @if (!Model.DataList.Count.Equals(0))
        {
            foreach (var item in Model.DataList)
            {
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.DataList[0].Name)
                    </td>
                    <td>
                        @item.Name
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.DataList[0].CreateTime)
                    </td>
                    <td>
                        @item.CreateTime
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.DataList[0].Content)
                    </td>
                    <td colspan="3">
                        @item.Content
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.DataList[0].Reply)
                    </td>
                    <td colspan="3">
                        @item.Reply
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.DataList[0].ReplyTime)
                    </td>
                    <td>
                        @item.ReplyTime
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.ActionLink(" 修改留言", "Edit", new { Id = item.Id })
                        @Html.ActionLink(" 回覆留言", "Reply", new { Id = item.Id })
                        @Html.ActionLink(" 刪除留言", "Delete", new { Id = item.Id })
                    </td>
                </tr>
            }
        }
        @* 如果資料庫中為零筆記錄，則印出" 資料庫內查無資料"*@
        else
        {
            <tr>
                <td colspan="4">
                    資料庫內查無資料
                </td>
            </tr>
        }
    </table>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@* 匯入驗證欄位所須的JavaScript*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
