@model final.Models.Employee
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container">
    <h2>新增商品</h2>
    @* 建立新增資料所須的表單*@
    @using (Html.BeginForm("Create", "DepEmp", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
<div class="form-horizontal">
    <div class="form-group">
        <label for="DepId" class="control-label col-sm-2"> 分類 </label>
        <div class="col-sm-10">
            <select id="DepId" name="DepId" class="form-control">
                @foreach (var item in ViewBag.depList)
                {
                    if (ViewBag.dId == item.DepId)
                    {
                        <option value="@item.DepId" selected="selected">@item.DepName</option>
                    }
                    else
                    {
                        <option value="@item.DepId">@item.DepName</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="DepId" class="control-label col-sm-2">商品編號  </label>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.EmpId)
            @Html.ValidationMessageFor(model => model.EmpId)
        </div>
    </div>
    <div class="form-group">
        <label for="DepId" class="control-label col-sm-2"> 商品名稱 </label>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.EmpName)
            @Html.ValidationMessageFor(model => model.EmpName)
        </div>
    </div>
    <div class="form-group">
        <label for="DepId" class="control-label col-sm-2">商品簡介</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.EmpPhone)
            @Html.ValidationMessageFor(model => model.EmpPhone)
        </div>
    </div>
    <div class="form-group">
        <label for="Tid" class="control-label col-sm-2">商品圖片</label>
        <div class="col-sm-10">
            <input type="file" name="upload" id="file" accept="Images/*">
            @Html.ValidationMessageFor(model => model.upload)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value=" 新增商品" />
        </div>
    </div>
</div>
    }
    <hr />
    <div>
        @Html.ActionLink("回到首頁", "Index", "DepEmp")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




