@model final.ViewModels.DepEmpViewModel

@{
    ViewBag.Title = "商店";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container">
    <h2>低價屋</h2>
    <div class="row">
        <div class="col-md-3">
            <h3>分類</h3><hr />
            @if (!Model.depList.Count.Equals(0))
            {
                foreach (var item in Model.depList)
                {
                    <p>@Html.ActionLink(item.DepName, "Index", new { depid = item.DepId })</p>
                }
            }
            else
            {
                <p>查無資料</p>
            }

        </div>
        <a href="@Url.Action("Create", new {dId=@Model.SrhId })" class="btn btn-info">新增</a>
        <h3>@Model.SrhName</h3>

        @if (!Model.empList.Count.Equals(0))
        {
            foreach (var item in Model.empList)
            {
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="@Url.Content("~/Images/"+item.Img)">
                        <div class="caption">
                            <h3>@item.EmpName</h3>
                            <p>@item.EmpPhone</p>
                            <p>
                                @Html.ActionLink(" 修改", "Edit", new { eId = item.EmpId.Trim() })
                                @Html.ActionLink(" 刪除", "Delete", new { eId = item.EmpId.Trim(), dId = item.DepId }, new { onclick = "return confirm('確認刪除');" })
                            </p>
                        </div>
                    </div>
                </div>
            }
        }
        @* 如果資料庫中為零筆記錄，則印出" 資料庫內查無資料"*@
        else
        {
            <p>資料庫內查無資料</p>
        }
    </div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}





